<div class="row product-details">
        <div class="col-xs-12">
            <h2>Cód. Barras: {{product.codBarras}}</h2>
        </div>
        <div class="col-xs-12">
            <h3>Nome: {{product.name}}</h3>
        </div>
        <div class="col-xs-12">
            <h3>Descrição: {{product.description}}</h3>
        </div>
        <div class="col-xs-12">
            <h3>Quantidade: {{product.quantity}}</h3>
        </div>
        <div class="col-xs-12">
            <h3>Categoria: {{product.category.title}}</h3>
        </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary"
                (click)="onEditProduct()"
                style="margin-right: 20px;">
                Editar Produto
            </button>
            <button class="btn btn-danger"
                (click)="onDeleteProduct()">
                Remover Produto
            </button>
        </div>
    </div>
</div>