<div class="row">
        <div class="col-xs-12">
            <h2>{{category.title}}</h2>
        </div>
        <div class="col-xs-12">
            <h3>{{category.description}}</h3>
        </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary"
                (click)="onEditCategory()"
                style="margin-right: 20px;">
                Editar Categoria
            </button>
            <button class="btn btn-danger"
                (click)="onDeleteCategory()">
                Remover Categoria
            </button>
        </div>
    </div>
</div>