<div class="row">
    <div class="col xs 12">
        <img 
            class="img-responsive" 
            src="{{category.imagePath}}" 
            alt="{{category.name}}"
            style="max-height: 250px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{category.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div 
            class="btn-group"
            appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Gerenciar <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="cursor: pointer;">
                <li><a>Editar Category</a></li>
                <li><a>Remover Category</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{category.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of category.ingredients">
                {{ingredient.name}} - {{ingredient.amount}} un
            </li>
        </ul>
    </div>
</div>